/*CSS p/ index.html*/
.container{
    text-align: center;
    margin-top: 25%;

}
h2{
    text-align: center;
    font-size: 50px;
    margin: 50px 50px;
    margin-top: 20%;
}
.btn-primary {
    border-radius:20px; 
    padding: 20px 20px;
}
.btn-secundary {
    border-radius:20px; 
    padding: 20px 20px;
}
